*.log
bower_components/
node_modules/
build/
release-builds/
dist/
.nyc_output/
.vscode/
*.swp
*.swo
.DS_Store
.sass-cache
.tern-port
.tern-project

# PouchDB files
log.txt
/data/
config.json

# App packaged
main.js
