*.log
bower_components/
node_modules/
build/
release-builds/
dist/
.nyc_output/
.vscode/
*.swp
*.swo
.DS_Store
.sass-cache
.tern-port
.tern-project

# PouchDB files
log.txt
/data/
config.json
# PouchDB files created by Node when 'npm test' is run
/accounts/
/transactions/

# App packaged
main.js
