.sidebar .panel-title > a:hover,
.sidebar .panel-title > a:focus {
  text-decoration: none;
}

/* for React-Bootstrap Modal to work with nested modals */
.modal {
  z-index: 1040;
}
.horizontal-button-group .input-group-btn:last-child > .btn {
  border-radius: 4px;
}
