.sidebar .panel-title > a:hover,
.sidebar .panel-title > a:focus {
  text-decoration: none;
}

/* for React-Bootstrap Modal to work with nested modals */
.modal {
  z-index: 1040;
}
.horizontal-button-group .input-group-btn:last-child > .btn {
  border-radius: 4px;
}

/* placeholder for now until react-bootstrap is updated to newer version that does this by default
this is used so that user can't change routes to same route which resets uploadedTransactions state */
.list-group-item.disabled,
.list-group-item.disabled:hover,
.list-group-item.disabled:focus {
  pointer-events: none;
}

/* Adding style here because CSS modules can't target child class names */
.toggle-account-setting-icon i {
  cursor: pointer;
  margin-top: 10px;
  animation: unRoll .1s 3;
}
.toggle-account-setting-icon.expanded i {
  animation: roll .1s 3;
}
@keyframes roll {
  from { transform: rotate(0); }
  to { transform: rotate(30deg); }
}
@keyframes unRoll {
  from { transform: rotate(0); }
  to { transform: rotate(-30deg); }
}
