.transactions-table td:nth-child(6) {
  text-align: center;
}
.transactions-table td:nth-child(7) {
  background: white;
  border: 0;
  text-align: right;
}
.transactions-table td:nth-child(8) {
  background: white;
  border: 0;
  text-align: left;
}

.transactions-table td svg {
  cursor: pointer;
}

.transactions-table td:nth-child(7),
.transactions-table td:nth-child(8) {
  visibility: hidden;
}

.transactions-table tr:hover td:nth-child(7),
.transactions-table tr:hover td:nth-child(8) {
  visibility: visible;
}
