.transactions-table td:last-child {
  background: white;
  border: 0;
}
.transactions-table td:last-child i {
  cursor: pointer;
  text-align: center;
  visibility: hidden;
}
.transactions-table tr:hover td:last-child i {
  visibility: visible;
}
.transactions-table td:last-child i:hover {
  color: #337ab7;
}
