.transactions-table td:nth-child(5) {
  background: white;
  border: 0;
  text-align: right;
}
.transactions-table td:last-child {
  background: white;
  border: 0;
  text-align: left;
}

.transactions-table td:nth-child(5) i,
.transactions-table td:last-child i {
  cursor: pointer;
  visibility: hidden;
}

.transactions-table tr:hover td:nth-child(5) i,
.transactions-table tr:hover td:last-child i {
  visibility: visible;
}

.transactions-table td:nth-child(5) i:hover {
  color: #337ab7;
}
.transactions-table td:last-child i:hover {
  color: #c9302c;
}
